@import "~normalize.css";

@font-face {
  font-family: 'jaapokki-subtract';
  src: url('./font/jaapokki/subtract/web/jaapokkisubtract-regular.ttf') format('truetype');
}

@mixin shadow($size) {
  $y: $size * 0.1;
  $blur: $size * 0.15;
  $spread: 0;
  box-shadow: 0 $y $blur $spread rgba(0, 0, 0, 0.2);
}

html {
  background-color: #eee;
  color: #111;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);

  header {
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
    span.logo {
      font-family: 'jaapokki-subtract';
      text-transform: uppercase;
      letter-spacing: 0.2em;
      user-select: none;
    }
  }

  .UserPage {
    display: flex;
    flex-direction: row;
    align-items: center;

    // @media (max-width:480px) {
    //   flex-direction: column;
    // }
  }
}

.Profile {
  flex-grow: 1;

  .ProfileImage {
    $size: 100px;

    height: $size;
    width: $size;
    border-radius: 100%;

    background-size: cover;

    @include shadow($size);
  }

  .ProfileName {
    margin: 10px 0 10px;
  }

  .ProfileBio {
    color: #888;
    font-size: 0.8em;
  }
}

.SnsList {
  padding-top: 1em;
  flex-grow: 2;
  li {
    list-style: none;
    padding-bottom: 1em;
    a {
      color: inherit;
      display: block;
      padding: 1em;
      width: 100%;
      text-decoration: none;
      text-align: left;

      @include shadow(100px);

      .id {
        margin-left: 1em;
      }
    }
  }
}


