@import "~normalize.css";

html {
  background-color: #eee;
  color: #111;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.ProfileImage {
  $size: 100px;
  height: $size;
  width: $size;
  border-radius: 100%;

  background-size: cover;

  $box-shadow-y: $size * 0.1;
  $box-shadow-blur: $size * 0.15;
  $box-shadow-spread: $size * 0.0;
  box-shadow: 0 $box-shadow-y $box-shadow-blur $box-shadow-spread rgba(0, 0, 0, 0.2);
}

.ProfileName {
  margin: 10px 0 10px;
}

.ProfileBio {
  color: #888;
  font-size: 0.8em;
}
